@using OnlineStoreManager.Infracstructure;
@using OnlineStoreManager.Database.Models;
@using System.ComponentModel.DataAnnotations;
@using OnlineStoreManager.Repository;
@model OnlineStoreManager.Models.ViewModels.SupplierModifyViewModel
@{ Layout = null; }
@{
   Supplier formValues = new Supplier();
   if (Model.Action == CRUD.Update)
   {
      formValues.AssignProperties(Model.Supplier);
   }
}

<div class="form-container" style="background-color:#fafafa">
   @if (formValues.Id != null)
   {
      <div class="field-set">
         <div class="field">
            <label> Mã nhà cung cấp: </label>
            <input type="text" disabled value="@formValues.Id" name="id" />
         </div>
      </div>
   }
   <div class="field-set">
      <div class="field ">
         <label> Tên nhà cung cấp: </label>
         <input type="text" name="name" value="@formValues.Name" />
         <span class="validation" for="Supplier.Name"></span>
      </div>
   </div>

   <div class="field-set">
      <div class="field">
         <label> Mô tả: </label>
         <textarea type="number" rows="8" name="description">@formValues.Description</textarea>
      </div>
   </div>
</div>


