<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title> OnlineStoreManager</title>

   <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
   <link href="~/css/flex-style.css" rel="stylesheet" asp-append-version="true" />
   <link href="~/css/form-style.css" rel="stylesheet" asp-append-version="true" />
   <link href="~/css/auto-complete.css" rel="stylesheet" asp-append-version="true" />

   <link href="~/lib/w2ui/w2ui-1.5.rc1.min.css" rel="stylesheet" asp-append-version="true" />

   @RenderSection("StyleSheets", required: false)

</head>
<body>
   <script src="~/lib/jquery/dist/jquery.min.js"></script>
   <script src="~/lib/w2ui/w2ui-1.5.rc1.min.js" asp-append-version="true"></script>
   <script src="~/js/site.js" asp-append-version="true"></script>

   <div id="_layout" style="width:100vw;height:100vh;overflow:hidden"></div>

   <script>

      var panelStyle = `
                  border: 1px solid #c5c5c5;
                  background-image: linear-gradient(#f9f9f9,#e4e4e4);
               `;

   </script>

   <script hide>
      $('#_layout').w2layout({
         name: '_layout',
         panels: [
            { type: 'left', size: "15%" },   // for navigation section
            { type: 'main' }  // for app content
         ]
      });

      $().w2layout({
         name: '_page_main',
         panels: [
            { type: 'top', size: 60 },     // for header section
            { type: 'main' }     // for app content
         ]
      });
      w2ui['_layout'].content('main', w2ui['_page_main']);

      $().w2layout({
         name: '_main_content',
         panels: [
            { type: 'main' },    // for w2grid
         ],
      });

      w2ui['_page_main'].content('main', w2ui['_main_content']);

   </script>

   @await Html.PartialAsync("_AppNavigationsPartial")
   @await Html.PartialAsync("_AppHeaderPartial")

   @RenderBody()

   @RenderSection("ViewScripts", required: false)
</body>
</html>
