<div class="flex_center" style="padding:8px 14px;justify-content:flex-start;">

   <span class="bold_span"> Tổng số:</span>
   <span class="italic_span" style="margin-left: 14px;"> @(Model.TotalItems??0) </span>

   <div id="w2ui-pagination" class="flex_center" style="margin-left:auto">

      <span class="pagination_item prev clickable">
         <img src="~/icons/back.svg" class="small_icon" style="margin-bottom:-2px;" />
      </span>

      <div class="pagination-container"></div>

      <span class="pagination_item clickable next">
         <img src="~/icons/back.svg" class="small_icon" style="margin-bottom:-2px;transform:rotate(180deg)" />
      </span>
   </div>
</div>

